[submodule "2016-01-20_owasp-mtl/reveal.js"]
	path = 2016-01-20_owasp-mtl/reveal.js
	url = https://github.com/GoSecure/reveal.js.git
	branch = theme-owasp
[submodule "2016-04-07_atlseccon/reveal.js"]
	path = 2016-04-07_atlseccon/reveal.js
	url = https://github.com/GoSecure/reveal.js.git
	branch = neutral-theme
[submodule "2016-05-19_northsec/reveal.js"]
	path = 2016-05-19_northsec/reveal.js
	url = https://github.com/GoSecure/reveal.js.git
	branch = neutral-theme
[submodule "2016-12-01_botconf/reveal.js"]
	path = 2016-12-01_botconf/reveal.js
	url = https://github.com/GoSecure/reveal.js.git
	branch = gosecure
[submodule "2020-02-25_rsac-usa/reveal.js"]
	path = 2020-02-25_rsac-usa/reveal.js
	url = https://github.com/GoSecure/reveal.js.git
	branch = gosecure-2020-revealjs-3.9
[submodule "2018-10-03_sector/reveal.js"]
	path = 2018-10-03_sector/reveal.js
	url = https://github.com/GoSecure/reveal.js.git
	branch = gosecure-2020-revealjs-3.9
